.root {
    color100: #dfd785;
    color200: #ebc275;
    color300: #f39949;
    color400: #ff7831;
    color500: #ca5a2e;
    color600: #963c3c;
    color700: #3a2802;
    color800: #202215;
}

.card {
    -fx-background-color: color500;
    -fx-background-radius: 10;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 5, 5);
}

.accent {
    -fx-background-color: color300;
    -fx-background-radius: 10;
}


.bg {
    -fx-background-color: color800;
    /*-fx-padding: 0;*/
}

#top {
    /*border bottom*/
    -fx-border-color: color700;
    -fx-border-width: 0 0 1 0;
}


.fireBg {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, color800 0%, color800 90%, color600 95%, color500 98%, color100 100%);
}


.button {
    -fx-background-color: color100;
    -fx-text-fill: color800;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: color200;
}

.button:pressed {
    -fx-background-color: color300;
}

.rToggle {
    -fx-background-color: color100;
    -fx-text-fill: color800;
    -fx-background-radius: 0 10 10 0;
}

.combo-box {
    -fx-background-color: color100;
    -fx-text-fill: color800;
    -fx-background-radius: 10 0 0 10;
    -fx-border-width: 0;
}

.instruction-li {
    -fx-background-color: color500;
    -fx-background-radius: 8 32;
    -fx-padding: 8 16;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 5, 5);
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 12; /* Ajusta el ancho del ScrollBar si es necesario */
    -fx-margin-right: 10; /* Añade un margen a la derecha */
}

.scroll-bar .track {
    -fx-background-insets: 0; /* Elimina márgenes internos */
}

.scroll-bar .thumb {
    -fx-background-insets: 0; /* Sin márgenes internos */
    -fx-background-radius: 10; /* Elimina bordes redondeados */

    -fx-background-color: color300; /* Color del thumb */
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-opacity: 0; /* Oculta los botones de incremento y decremento */
}
